/* to apply set theme='custom-theme' on JsonViewer component */
@import './quasar.variables.sass'

body.body--dark .jsonViewer
  color: white !important
  background-color: transparent

body.body--light .jsonViewer
  color: $dark !important
 